name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-node@v2.1.4
        with:
          node-version: 15.12.0

      - uses: actions/cache@v2.1.4
        with:
          path: node_modules
          key: npm-${{ hashFiles('package-lock.json') }}

      - run: npm install

      - run: npm run lint

      - run: TMPDIR=./.tmp/ npm run test

      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
